
/*contenedor del todo el chat bot*/
#chat-container {
    position: fixed;
    bottom: 30px;
    right: 20px;
    background-color: transparent; /* Cambiado a transparente para que el fondo sea visible */
    border-radius: 10px; /* Bordes redondeados */
    padding: 40px;
    animation: slide-in 0.9s ease-in-out; /* Animación de entrada */
    cursor: pointer; /* Cambiar el cursor al puntero */
    background-image: url('https://cdn-icons-png.flaticon.com/512/8616/8616603.png');
    background-size: cover;
    background-repeat: no-repeat;
}
/*contenedor del chat*/
#chat-box {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 10px; /* Bordes redondeados */
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo con opacidad */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
/*cuando se inicia chat se ve en el contenedor y hace scroll*/
#chat-log {
    height: 100px;
    overflow-y: scroll;
   
}
/*salida de usuario*/
#user-input {
    width: 85%;
    padding: 4px ;
    border-radius: 10px; /* Bordes redondeados */
    
}
/*boton para enviar*/
#send-button {
    padding: 5px 20px;
    background-color: #2c5d92;
    color: #fff;
   
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
 /*boton para cerrar*/   
}
#cerrar-chat{
    padding: 5px 20px;
    background-color: #e61134;
    color: #fff;
    border-radius: 30px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}
/*tamaño de letra y color del bot*/
.bot-message{

    font-family: 'Cursive', cursive;
    font-size: 17px;
    color: #010101; /* Color de texto personalizado */
}
/*tamaño de letra del usuario*/
#chat-log{

    font-family: 'Cursive', cursive;
    font-size: 16px;
    color: #025b58; /* Color de texto personalizado */
}



/* Animación de entrada */
@keyframes slide-in {
    from {
        right: -300px;
        opacity: 0;
    }
    to {
        right: 20px;
        opacity: 1;
    }
}
/*define la animacion de click para abir char de contenedor*/
#chat-container.clicked {
    animation: open-chat 0.5s ease-in-out;
}
/* Define la animación de entrada desde la derecha */
@keyframes slide-from-right {
    from {
        transform: translateX(100%); /* Comienza fuera del área visible */
    }
    to {
        transform: translateX(0); /* Termina en su posición normal */
    }
}

@keyframes open-chat {
    from {
        width: 0;
    }
    to {
        width: 300px;
    }
    
}
/* CSS para ocultar el chat inicialmente */
#chat-container.hidden {
    display: none;
}


#chat-button {
    position: fixed;
    bottom: 80px;
    right: 80px;
    background-image: url(https://cdn-icons-png.flaticon.com/512/4616/4616784.png); /* Ruta relativa a la imagen */
    background-size: cover; /* Ajusta el tamaño de la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    border-radius: 30%; /* Para hacerlo circular */
    padding: 80px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background-color 0.3s ease;
    animation: slide-from-right 0.5s ease-in-out; /* Aplica la animación */
}


#chat-button img {
    width: 40px; /* Ajusta el tamaño de la imagen  */
    height: 40px;
}
